tqdm>=4.65.0
numpy==1.23.5
torch~=2.0.0
tensorboard~=2.12.0
transformers~=4.29.2
datasets~=2.10.1
evaluate~=0.4.0
psutil~=5.9.4
miditok==2.0.6
miditoolkit==0.1.16
matplotlib~=3.7.1
seaborn~=0.12.2
pandas~=2.0.0
scipy~=1.10.0
scikit-learn~=1.2.2
scikit-dimension~=0.3.2
torchaudio~=2.0.1
mir_eval~=0.7